 <div v-bind:style="{ display: game3_display}">
  <p>Game 3</p>
  <b-form @submit="onQueAnsSubmit" @reset="onQueAnsReset" v-if="show">
    <b-form-group id="inputGroupQ" label="Question:" label-for="inputQuestion">
      <b-form-input id="inputQuestion" type="text" v-model="vquestion" required placeholder="The question should NOT include the word.">

      </b-form-input>
      </b-form-group>
      <b-form-group id="inputGroupA" label="Answer:" label-for="inputAnswer">
        <b-form-input id="inputAnswer" type="text" v-model="vanswer" required placeholder="Only the answer should include the word.">

        </b-form-input>
      </b-form-group>
    <b-button type="submit" variant="primary">Submit</b-button>
    <b-button type="reset" variant="danger">Reset</b-button>
  </b-form>
</div>
